<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546092603630-cdecbvf7m3pv5uttvjdn0ppvjre47j4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546092603630-cdecbvf7m3pv5uttvjdn0ppvjre47j4b</string>
	<key>API_KEY</key>
	<string>AIzaSyBvGlRNpv7_YfSMxIFSbM_SZ6NEypN2TF4</string>
	<key>GCM_SENDER_ID</key>
	<string>546092603630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oskarlarsson.FirebaseIntro</string>
	<key>PROJECT_ID</key>
	<string>testproject-4784f</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-4784f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546092603630:ios:b559889bcff4e2bde27bff</string>
</dict>
</plist>